<div class="placeholder">
    {{#imageuri}}
        <div class="expandable-image card-img-left text-center">
            <img src="{{imageuri}}" alt="{{imagealttext}}" loading="lazy">
            {{#sectioncompletionmarkup}}{{{sectioncompletionmarkup}}}{{/sectioncompletionmarkup}}
        </div>
    {{/imageuri}}
    {{{summarytext}}}
</div>