{{#cmlist}}
    {{$ core_courseformat/local/content/section/cmlist }}
        {{> format_flexible/local/content/section/cmlist }}
    {{/ core_courseformat/local/content/section/cmlist }}
{{/cmlist}}
{{{cmcontrols}}}
